Repository sgl-project/ome, pull requests merged in 2025-08, with the labels that each got.

#215 add acceleratorClass crd
  charts/ome-crd/templates/ome.io_acceleratorclasses.yaml
  config/crd/full/ome.io_acceleratorclasses.yaml
  config/crd/minimal/ome.io_acceleratorclasses.yaml
  pkg/apis/ome/v1beta1/accelerator_class.go
  pkg/apis/ome/v1beta1/zz_generated.deepcopy.go
Labels: feature

#231 [misc] upgrade lws version to latest
  go.mod
  go.sum
Labels: cleanup

#234 [misc] add oss gpt bf16 models
  config/models/lmsys/gpt-oss-120b.yaml
  config/models/lmsys/gpt-oss-20b.yaml
Labels: feature

#239 [BUG]Fix BenchmarkJob Deprecated Storage Command
  pkg/controller/v1beta1/benchmark/utils/utils.go
  pkg/controller/v1beta1/benchmark/utils/utils_test.go
Labels: bug, documentation, feature, design, cleanup

#240 [Misc] Add checksum upload support in ome agent replica when using OCI as target
  config/ome-agent/ome-agent.yaml
  go.mod
  go.sum
  internal/ome-agent/replica/common/utils.go
  internal/ome-agent/replica/config.go
  internal/ome-agent/replica/config_test.go
  internal/ome-agent/replica/factory.go
  internal/ome-agent/replica/replica.go
  internal/ome-agent/replica/replicator/helper.go
  internal/ome-agent/replica/replicator/helper_test.go
  internal/ome-agent/replica/replicator/hf_to_oci.go
  internal/ome-agent/replica/replicator/hf_to_oci_test.go
  internal/ome-agent/replica/replicator/oci_to_oci.go
  internal/ome-agent/replica/replicator/pvc_to_oci.go
  internal/ome-agent/replica/replicator/pvc_to_oci_test.go
  pkg/ociobjectstore/data_store.go
  pkg/ociobjectstore/os_parallel_upload.go
  pkg/ociobjectstore/os_parallel_upload_test.go
  pkg/ociobjectstore/utils.go
  pkg/ociobjectstore/utils_test.go
Labels: feature

#256 [bugfix] fix accelerator class Quantity spec
  charts/ome-crd/templates/ome.io_acceleratorclasses.yaml
  charts/ome-crd/templates/ome.io_benchmarkjobs.yaml
  charts/ome-crd/templates/ome.io_finetunedweights.yaml
  config/crd/full/ome.io_acceleratorclasses.yaml
  config/crd/full/ome.io_benchmarkjobs.yaml
  config/crd/full/ome.io_finetunedweights.yaml
  config/crd/minimal/ome.io_benchmarkjobs.yaml
  config/crd/minimal/ome.io_finetunedweights.yaml
  pkg/apis/ome/v1beta1/accelerator_class.go
  pkg/apis/ome/v1beta1/benchmark_job.go
  pkg/apis/ome/v1beta1/model.go
  pkg/apis/ome/v1beta1/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/openapi/swagger.json
Labels: bug, documentation, feature, design, cleanup

#259 [bugfix] patch deepseek runtime
  config/runtimes/srt/deepseek-rdma-pd-rt.yaml
Labels: bug

#258 Extend inferenceService API for Accelerator Support
  charts/ome-crd/templates/ome.io_clusterservingruntimes.yaml
  charts/ome-crd/templates/ome.io_inferenceservices.yaml
  charts/ome-crd/templates/ome.io_servingruntimes.yaml
  config/crd/full/kustomization.yaml
  config/crd/full/ome.io_clusterservingruntimes.yaml
  config/crd/full/ome.io_inferenceservices.yaml
  config/crd/full/ome.io_servingruntimes.yaml
  config/crd/kustomization.yaml
  config/crd/minimal/kustomization.yaml
  pkg/apis/ome/v1beta1/inference_service.go
  pkg/apis/ome/v1beta1/inference_service_status.go
  pkg/apis/ome/v1beta1/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/openapi/swagger.json
Labels: feature, design

#261 [misc] improve hf hub module
  .gitignore
  go.mod
  go.sum
  pkg/hfutil/hub/config.go
  pkg/hfutil/hub/config_test.go
  pkg/hfutil/hub/download.go
  pkg/hfutil/hub/http_client.go
  pkg/hfutil/hub/module.go
  pkg/hfutil/hub/progress.go
  pkg/hfutil/hub/progress_test.go
  pkg/hfutil/hub/repo.go
  pkg/hfutil/hub/repo_test.go
  pkg/hfutil/hub/samples/basic_download/main.go
Labels: bug, cleanup
