Repository sgl-project/ome, pull requests merged in 2025-07, with the labels that each got.

#117 [misc] ad azure auth module
  go.mod
  go.sum
  pkg/auth/azure/config.go
  pkg/auth/azure/config_validation_test.go
  pkg/auth/azure/credentials.go
  pkg/auth/azure/credentials_test.go
  pkg/auth/azure/factory.go
  pkg/auth/azure/factory_test.go
  pkg/auth/interfaces.go
Labels: feature

#113 [MISC] Fix Config Runtime
  config/models/kustomization.yaml
  config/models/meta/Llama-3.3-70B-instruct-FP8-Dynamic.yaml
  config/runtimes/srt/deepseek-rdma-pd-rt.yaml
  config/runtimes/srt/llama-3-1-70b-instruct-pd-rt.yaml
  config/runtimes/srt/llama-3-2-11b-vision-instruct-pd-rt.yaml
  config/runtimes/srt/llama-3-2-1b-instruct-pd-rt.yaml
  config/runtimes/srt/llama-3-2-3b-instruct-pd-rt.yaml
  config/runtimes/srt/llama-3-2-90b-vision-instruct-fp8-pd-rt.yaml
  config/runtimes/srt/llama-3-2-90b-vision-instruct-rt.yaml
  config/runtimes/srt/llama-3-3-70b-instruct-pd-rt.yaml
  config/runtimes/srt/llama-4-scout-17b-16e-instruct-pd-rt.yaml
  config/runtimes/srt/mistral-7b-instruct-pd-rt.yaml
  config/runtimes/srt/mixtral-8x7b-instruct-pd-rt.yaml
  config/samples/isvc/deepseek-ai/deepseek-v3-pd.yaml
  config/samples/isvc/meta/llama-4-maverick-17b-128e-instruct-fp8.yaml
  config/samples/isvc/meta/llama3-3-70b-instruct-fp8-dynamic.yaml
  config/samples/isvc/meta/llama3-3-70b-instruct.yaml
Labels: bug, documentation, feature, design, cleanup

#120 [docs] updates the serving runtime documentation
  config/runtimes/vllm/deepseek-v3-rdma-rt.yaml
  config/runtimes/vllm/llama-3-1-70b-instruct-rt.yaml
  config/runtimes/vllm/llama-3-2-90b-vision-instruct-fp8-rt.yaml
  config/runtimes/vllm/llama-3-3-70b-instruct-fp8-dynamic-rt.yaml
  config/runtimes/vllm/llama-3-70b-instruct-rt.yaml
  config/runtimes/vllm/phi-3-vision-128k-instruct-rt.yaml
  site/content/en/docs/concepts/_index.md
  site/content/en/docs/concepts/serving_runtime.md
Labels: documentation

#121 [bugfix] fix model agent progress logging, deletion, and error handling
  charts/ome-resources/templates/model-agent-daemonset/clusterrole.yaml
  cmd/model-agent/main.go
  config/default/manager_image_patch.yaml
  config/default/model_agent_image_patch.yaml
  config/model-agent/clusterrole.yaml
  config/models/meta/Llama-3-70B-Instruct.yaml
  config/models/meta/Llama-3.1-405B-Instruct-FP8.yaml
  config/models/meta/Llama-3.1-70B-Instruct.yaml
  config/models/meta/Llama-3.2-11B-Vision-Instruct.yaml
  config/models/meta/Llama-3.2-1B-Instruct.yaml
  config/models/meta/Llama-3.2-3B-Instruct.yaml
  config/models/meta/Llama-3.2-90B-Vision-Instruct.yaml
  config/models/meta/Llama-3.3-70B-instruct.yaml
  config/models/meta/Llama-4-Maverick-17B-128E-Instruct-FP8.yaml
  config/models/meta/Llama-4-Maverick-17B-128E-Instruct.yaml
  config/models/meta/Llama-4-Scout-17B-16E-Instruct.yaml
  pkg/hfutil/hub/download.go
  pkg/hfutil/hub/repo.go
  pkg/modelagent/gopher.go
Labels: bug

#122 [bugfix] fix hf token fetch and deletion logic
  cmd/model-agent/main.go
  pkg/hfutil/hub/constants.go
  pkg/hfutil/hub/constants_test.go
  pkg/hfutil/hub/download.go
  pkg/hfutil/hub/module.go
  pkg/hfutil/hub/repo.go
  pkg/modelagent/gopher.go
  site/content/en/docs/administration/model-agent.md
  site/content/en/docs/concepts/base_model.md
Labels: bug

#126 [bugfix] fix: resolve model agent download loops and timeout issues
  cmd/model-agent/main.go
  pkg/hfutil/hub/constants.go
  pkg/hfutil/hub/constants_test.go
  pkg/hfutil/hub/download.go
Labels: bug

#143 [bugfix] Separate OCI Object Storage clients for ome agent
  cmd/ome-agent/replica_agent.go
  internal/ome-agent/replica/config.go
  internal/ome-agent/replica/config_test.go
  internal/ome-agent/replica/module.go
  internal/ome-agent/replica/module_test.go
  internal/ome-agent/replica/replica.go
  internal/ome-agent/replica/replica_test.go
  pkg/ociobjectstore/config.go
  pkg/ociobjectstore/config_test.go
  pkg/ociobjectstore/module.go
  pkg/ociobjectstore/module_test.go
Labels: bug, high-priority

#145 [misc] refactor component cleanup
  pkg/controller/v1beta1/inferenceservice/cleanup.go
  pkg/controller/v1beta1/inferenceservice/cleanup_test.go
  pkg/controller/v1beta1/inferenceservice/components/base.go
  pkg/controller/v1beta1/inferenceservice/components/component.go
  pkg/controller/v1beta1/inferenceservice/components/decoder.go
  pkg/controller/v1beta1/inferenceservice/components/engine.go
  pkg/controller/v1beta1/inferenceservice/components/router.go
  pkg/controller/v1beta1/inferenceservice/controller.go
Labels: bug, cleanup

#146 [docs] remove empty pages and fixed styling
  site/assets/scss/_styles_project.scss
  site/content/en/docs/administration/_index.md
  site/content/en/docs/administration/ingress.md
  site/content/en/docs/administration/monitoring.md
  site/content/en/docs/administration/networking.md
  site/content/en/docs/administration/node-management.md
  site/content/en/docs/administration/performance.md
  site/content/en/docs/administration/resource-planning.md
  site/content/en/docs/administration/security.md
  site/content/en/docs/administration/storage.md
  site/content/en/docs/administration/troubleshooting.md
  site/content/en/docs/developer-guide/_index.md
  site/content/en/docs/developer-guide/api-design.md
  site/content/en/docs/developer-guide/best-practices.md
  site/content/en/docs/developer-guide/client-libraries.md
  site/content/en/docs/developer-guide/community.md
  site/content/en/docs/developer-guide/configuration-schema.md
  site/content/en/docs/developer-guide/container-images.md
  site/content/en/docs/developer-guide/controller-architecture.md
  site/content/en/docs/developer-guide/custom-resources.md
  site/content/en/docs/developer-guide/debugging.md
  site/content/en/docs/developer-guide/e2e-example.md
  site/content/en/docs/developer-guide/environment-variables.md
  site/content/en/docs/developer-guide/governance.md
  site/content/en/docs/developer-guide/helm-charts.md
  site/content/en/docs/developer-guide/integration-examples.md
  site/content/en/docs/developer-guide/local-development.md
  site/content/en/docs/developer-guide/make-targets.md
  site/content/en/docs/developer-guide/metrics.md
  site/content/en/docs/developer-guide/networking.md
  site/content/en/docs/developer-guide/performance.md
  site/content/en/docs/developer-guide/plugins.md
  site/content/en/docs/developer-guide/release-process.md
  site/content/en/docs/developer-guide/rest-api.md
  site/content/en/docs/developer-guide/roadmap.md
  site/content/en/docs/developer-guide/security.md
  site/content/en/docs/developer-guide/serving-runtime-development.md
  site/content/en/docs/developer-guide/testing.md
  site/content/en/docs/developer-guide/webhooks.md
  site/content/en/docs/tasks/developer-tools/_index.md
  site/content/en/docs/tasks/developer-tools/analyze-performance.md
  site/content/en/docs/tasks/developer-tools/setup-prometheus.md
  site/content/en/docs/tasks/manage-ome/_index.md
  site/content/en/docs/tasks/manage-ome/setup-autoscaling.md
  site/content/en/docs/tasks/manage-ome/setup-continuous-benchmarking.md
  site/content/en/docs/tasks/run-workloads/compare-models.md
  site/content/en/docs/tasks/run-workloads/deploy-multiple-models.md
  site/content/en/docs/tasks/run-workloads/optimize-performance.md
  site/hugo.toml
  site/layouts/partials/hooks/body-end.html
  site/layouts/shortcodes/blocks/tabs.html
  site/layouts/shortcodes/include.html
  site/static/js/prism-init.js
Labels: bug, documentation, feature, design, cleanup

#154 [DOC]Fix doc architecture diagram SVG title
  site/static/images/ome-architecture.html
  site/static/images/ome-architecture.svg
Labels: bug, documentation, feature, design, cleanup

#148 add modelFormat, modelFramework version compare
  charts/ome-crd/templates/ome.io_basemodels.yaml
  charts/ome-crd/templates/ome.io_clusterbasemodels.yaml
  charts/ome-crd/templates/ome.io_clusterservingruntimes.yaml
  charts/ome-crd/templates/ome.io_servingruntimes.yaml
  config/crd/full/ome.io_basemodels.yaml
  config/crd/full/ome.io_clusterbasemodels.yaml
  config/crd/full/ome.io_clusterservingruntimes.yaml
  config/crd/full/ome.io_servingruntimes.yaml
  go.sum
  pkg/apis/ome/v1beta1/model.go
  pkg/apis/ome/v1beta1/zz_generated.deepcopy.go
  pkg/controller/v1beta1/inferenceservice/controller_test.go
  pkg/controller/v1beta1/inferenceservice/utils/runtime.go
  pkg/controller/v1beta1/inferenceservice/utils/runtime_test.go
  pkg/modelver/util.go
  pkg/modelver/util_test.go
  pkg/webhook/admission/isvc/inference_service_validation_test.go
Labels: enhancement, feature

#158 [Misc] replica ome-agent: minor improvements + cleanup
  cmd/ome-agent/replica_agent.go
  cmd/ome-agent/replica_agent_test.go
  internal/ome-agent/replica/oci_to_oci.go
  pkg/ociobjectstore/module.go
  pkg/ociobjectstore/module_test.go
Labels: cleanup

#169 [oep] add pvc storage support
  oeps/0004-pvc-storage-support/README.md
  oeps/0004-pvc-storage-support/oep.yaml
Labels: design

#170 [core] add pvc storage parsing supporting base model and cluster base…
  oeps/0004-pvc-storage-support/README.md
  pkg/utils/storage/storage.go
  pkg/utils/storage/storage_test.go
  site/content/en/docs/concepts/base_model.md
  site/content/en/docs/concepts/benchmark.md
Labels: feature

#171 [core] skip model agent task for pvc storage
  pkg/modelagent/gopher.go
  pkg/modelagent/gopher_test.go
  pkg/modelagent/scout.go
Labels: feature

#172 [core] add model metadata parser to ome agent
  cmd/ome-agent/k8sclient.go
  cmd/ome-agent/main.go
  cmd/ome-agent/model_metadata_agent.go
  cmd/ome-agent/model_metadata_agent_test.go
  config/ome-agent/model-metadata.yaml
  hack/test-model-metadata-agent.sh
  internal/ome-agent/model-metadata/config.go
  internal/ome-agent/model-metadata/metadata.go
  internal/ome-agent/model-metadata/metadata_test.go
  internal/ome-agent/model-metadata/module.go
Labels: feature

#182 [core] add kimi k2 model support
  pkg/hfutil/modelconfig/kimi_k2.go
  pkg/hfutil/modelconfig/kimi_k2_test.go
  pkg/hfutil/modelconfig/testdata/kimi_k2_instruct.json
  pkg/modelagent/gopher.go
Labels: feature

#186 [core] add runtime selector package and deprecate runtime util
  cmd/manager/main.go
  config/models/meta/Llama-4-Maverick-17B-128E-Instruct-FP8.yaml
  config/models/meta/Llama-4-Maverick-17B-128E-Instruct.yaml
  config/models/meta/Llama-4-Scout-17B-16E-Instruct.yaml
  pkg/controller/v1beta1/inferenceservice/controller.go
  pkg/controller/v1beta1/inferenceservice/controller_test.go
  pkg/controller/v1beta1/inferenceservice/utils/container.go
  pkg/controller/v1beta1/inferenceservice/utils/reconciliation.go
  pkg/controller/v1beta1/inferenceservice/utils/runtime.go
  pkg/controller/v1beta1/inferenceservice/utils/runtime_test.go
  pkg/controller/v1beta1/inferenceservice/utils/utils.go
  pkg/runtimeselector/README.md
  pkg/runtimeselector/errors.go
  pkg/runtimeselector/fetcher.go
  pkg/runtimeselector/fetcher_test.go
  pkg/runtimeselector/matcher.go
  pkg/runtimeselector/matcher_test.go
  pkg/runtimeselector/scorer.go
  pkg/runtimeselector/selector.go
  pkg/runtimeselector/selector_test.go
  pkg/runtimeselector/types.go
  pkg/webhook/admission/isvc/inference_service_validation.go
  pkg/webhook/admission/isvc/inference_service_validation_test.go
Labels: feature, cleanup

#195 [misc] fix external service being cleaned up and kimi runtime update
  config/runtimes/srt/deepseek-rdma-pd-rt.yaml
  config/runtimes/srt/kimi-k2-pd-rt.yaml
  config/samples/isvc/meta/llama-4-maverick-17b-128e-instruct-fp8.yaml
  pkg/controller/v1beta1/inferenceservice/cleanup.go
Labels: bug, cleanup
